.box {
  display: flex;
  justify-content: space-between;
  /* padding-top: 26px; */
}
.box:not(:last-child) {
  margin-bottom: 10px;
}
/* .btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
} */

.btn {
  padding: 2px 6px;
  color: #404040;
  border: 1px solid #404040;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  /* height: 24px; */
}
.btn:hover,
.btn:focus {
  border: 1px solid red;
}

/* .item {
  display: flex;
  justify-content: space-between;
}
.item:not(:last-child) {
  margin-bottom: 10px;
} */
li {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 10px;
}
